---
const { href, src, title, showTitle, alt, contrast, gradient, order } = Astro.props;
---
<a class="banner" href={href} title={title} data-order={order}>
	<figure data-gradient={gradient}>
		<img src={src} alt={alt} />
		<figcaption data-contrast={contrast}>{title}</figcaption>
	</figure>
</a>