---
const { title, sub1, sub2, price, delPrice, installmentsNumber, installmentsValue } = Astro.props;
---
<article class="product-details" id="product-details">
	<div>

		<aside>
			<!-- Img gallery -->
			<div class="img-gallery" id="img-gallery">
				<ul>
					<li><img src="/template-ecommerce-vega/img/products/button1.png" alt="" /></li>
					<li><img src="/template-ecommerce-vega/img/products/button2.jpg" alt="" /></li>
					<li><img src="/template-ecommerce-vega/img/products/button3.jpg" alt="" /></li>
					<li><img src="/template-ecommerce-vega/img/products/button4.jpg" alt="" /></li>
				</ul>
				<button class="gallery-bt" id="gallery-bt" title="Expandir"><i></i></button>
			</div>
			<!-- Accordions -->
			<dl>
				<!-- Item -->
				<dt class="accordion-title">Detalhes do produto<i></i></dt>
				<dd>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</dd>
				<!-- Item -->
				<dt class="accordion-title">Caracteríscticas<i></i></dt>
				<dd>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</dd>
				<!-- Item -->
				<dt class="accordion-title">Cuidados com a peça<i></i></dt>
				<dd>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</dd>
				<!-- Item -->
				<dt class="accordion-title">Avaliações<i></i></dt>
				<dd>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</dd>
			</dl>
		</aside>

		<form>
			<header>
				<button type="button" title="Compartilhar" class="share-bt"><i></i></button>
				<small title="Avaliações"><u>135</u><i></i></small>
			</header>
			<!-- Infos -->
			<fieldset class="infos">
				<h3>{title}</h3>
				<h4>
					<em>{sub1}</em>
					<span><i></i>{sub2}</span>
				</h4>
				<!-- Tags -->
				<div class="tags">
					<span>
						<small>A partir de</small>
						<del>R$ {delPrice}</del>
						<mark>-0%</mark>
					</span>
					<small>-10% no Pix</small>
				</div>
				<!-- Preço -->
				<div class="price">
					<strong>R$ {price}</strong>
					<span>
						<em>{installmentsNumber}x</em>
						R$ {installmentsValue}
					</span>
				</div>
			</fieldset>
			<!-- Variants -->
			<fieldset class="variants">
				<!-- Selected -->
				<ul>
					<li>Black colors</li>
					<li>2.25"</li>
				</ul>
				<!-- Variant -->
				<dl data-type="thumbs">
					<dt>Cor</dt>
					<dd><img src="/template-ecommerce-vega/img/products/button2.jpg" alt="" /></dd>
					<dd class="selected"><img src="/template-ecommerce-vega/img/products/button2.jpg" alt="" /></dd>
				</dl>
				<!-- Variant -->
				<dl data-type="chips">
					<dt>Tamanho</dt>
					<dd>1.25"</dd>
					<dd class="selected">2.25"</dd>
					<dd disabled>3.25"</dd>
					<dd>4.25"</dd>				
				</dl>
			</fieldset>
			<!-- Quantity -->
			<fieldset class="quantity">
				<span>
					<button type="button" title="Menos"><i></i></button>
					<input type="text" name="" value="1" />
					<button type="button" title="Mais"><i></i></button>
				</span>
				<small>12 disponíveis</small>
			</fieldset>
			<!-- Add to cart buttons -->
			<fieldset class="cta">
				<button title="Compre agora">Compre agora</button>
				<button class="add-to-cart" title="Adicionar"><i></i><i></i></button>
			</fieldset>
			<!-- CEP -->
			<fieldset class="cep">
				<label>
					<small class="delivery-tag"><i></i><b>Frete grátis</b></small>
					<span>Digite o CEP:</span>
				</label>
				<div>
					<input type="text" name="" placeholder="00.000-000" />
					<button type="button" title="Pesquisar CEP" class="aim"><i></i></button>
					<!-- <button type="button">Não sei meu CEP</button> -->
				</div>
				<footer><i></i>Av. Paulista, Bela Vista, São Paulo</footer>
			</fieldset>
			<!-- Delivery options -->
			<fieldset class="delivery">
				<!-- option -->
				<div>
					<input type="radio" name="" value="" id="delivery-free" checked="checked" />
					<label for="delivery-free">
						<span>
							<em>Gráts</em>
							<dfn>Convencional</dfn>
						</span>
						<small>Até 6 dias úteis</small>
					</label>
				</div>
				<!-- option -->
				<div>
					<input type="radio" name="" value="" id="delivery-express" />
					<label for="delivery-express">
						<span>
							<em>R$ 49,80</em>
							<dfn>Expressa</dfn>
						</span>
						<small>Até 2 dias úteis</small>
					</label>
				</div>
			</fieldset>
		</form>

		<button class="close" id="closeProdDetBtn" title="Fechar"><i></i></button>
	</div>
</article>